Temp/
Library/
Logs/
Builds/
UserSettings/
Assets/AssetStoreTools/
Assets/AssetStoreTools.meta
Assets/Plugins/Editor/JetBrains
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins.meta
Assets/Plugins/Editor.meta

ExportedObj/
obj/
.vs/
.vscode/
.vsconfig
.idea/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
